* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 85%;
  margin: auto;
}

body .hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

body .burger-menu {
  margin-top: 75px;
  background-color: #001251;
  width: 100%;
  height: 300px;
  position: absolute;
  border-top: none !important;
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
  max-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

body .burger-menu .default-button-secound {
  margin: 20px 0;
}

body .burger-menu a {
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
  max-height: 0px;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  padding: 9px 0;
  background-color: transparent;
  color: transparent;
  font-size: 24px;
  font-weight: 500;
  color: transparent;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
  body .burger-menu a {
    font-size: 20px;
  }
}

body .burger-menu .login {
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
  max-height: 0px;
  color: transparent;
  padding: 9px 37px;
  background-color: transparent;
  font-size: 24px;
  font-weight: 500;
  color: transparent;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

@media (max-width: 1000px) {
  body .burger-menu .login {
    font-size: 20px;
  }
}

body .login-menu {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.709);
  position: fixed;
  z-index: 999;
}

body .login-menu .registration-menu {
  width: 600px;
  border-radius: 25px;
  background-color: white;
  background-color: #000C37;
  padding: 70px 0;
}

body .login-menu .registration-menu .registration-wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .registration-menu .registration-wrapper h2 {
  margin-bottom: 126px;
  font-size: 64px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper .switcher {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  background: none;
  border: none;
  opacity: 40%;
}

body .login-menu .registration-menu .registration-wrapper form {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .registration-menu .registration-wrapper form input {
  border-radius: 25px;
  padding: 23px;
  width: 100%;
  border: none;
  background-color: #001251;
  margin-bottom: 25px;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input::placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form input:focus:-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form input:focus::-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form input:focus::placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #CA8125;
  padding: 20px 20px;
  border: none !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form button:hover {
  background-color: #86551a;
}

@media (max-width: 1000px) {
  body .login-menu .registration-menu .registration-wrapper form button {
    font-size: auto;
  }
}

body .login-menu .log-menu {
  width: 600px;
  border-radius: 25px;
  background-color: white;
  background-color: #000C37;
  padding: 70px 0;
}

body .login-menu .log-menu .log-wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .log-menu .log-wrapper h2 {
  margin-bottom: 126px;
  font-size: 64px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper .switcher {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  background: none;
  border: none;
  opacity: 40%;
}

body .login-menu .log-menu .log-wrapper form {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .log-menu .log-wrapper form input {
  border-radius: 25px;
  padding: 23px;
  width: 100%;
  border: none;
  background-color: #001251;
  margin-bottom: 25px;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input::placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form input:focus:-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form input:focus::-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form input:focus::placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #CA8125;
  padding: 20px 20px;
  border: none !important;
  border-radius: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form button:hover {
  background-color: #86551a;
}

body header {
  padding: 5px 0 25px;
  height: 80px;
  background-color: #001251;
}

body header a:hover, body header button:hover {
  background-color: #86551a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body header .logo {
  height: 80%;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .login {
  padding: 9px 37px;
  background-color: #CA8125;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  body header .login {
    font-size: 20px;
  }
}

@media (max-width: 771px) {
  body header .login {
    display: none;
  }
}

body header .mobile-menu-trigger {
  display: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

body header .mobile-menu-trigger:focus {
  background: none;
}

@media (max-width: 771px) {
  body header .mobile-menu-trigger {
    display: block;
  }
}

body header nav .default-button-first {
  margin-right: 58px;
}

body header nav a {
  border-radius: 15px;
  padding: 9px 37px;
  background-color: #CA8125;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
  body header nav a {
    font-size: 20px;
  }
}

@media (max-width: 771px) {
  body header nav a {
    display: none;
  }
}

body main {
  padding: 46px 0 196px;
  background-color: #000C37;
}

body main .proj-info {
  text-align: center;
}

body main .proj-info h1 {
  font-size: 64px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body main .proj-info .flex-wrapper-info {
  background-color: #001251;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 10px;
  max-width: 1294px;
  border-radius: 10px;
}

body main .proj-info .flex-wrapper-info p {
  line-height: 5vh;
  margin-left: 120px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

@media (max-width: 1100px) {
  body main .proj-info .flex-wrapper-info p {
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
  }
}

body main .proj-info .flex-wrapper-info img {
  max-width: 40%;
}

@media (max-width: 1100px) {
  body main .proj-info .flex-wrapper-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .proj-info .flex-wrapper-info img {
    max-width: 60%;
  }
}

body main .cards {
  padding-top: 135px;
}

body main .cards .row .card-el {
  max-width: 415px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .cards .row .card-el h2 {
  font-size: 36px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  margin: 20px 0px 37px;
}

body main .cards .row .card-el a {
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 17px;
  padding: 9px 52px;
  background-color: #CA8125;
}

body main .cards .row .card-el img {
  border-radius: 10px 10px 0 0;
}

@media (max-width: 600px) {
  body main .cards .row .card-el img {
    width: 90%;
    height: 90%;
  }
}

body main .cards .row img {
  max-width: 415px;
  height: 388px;
}

body footer {
  width: 100%;
  height: 80px;
  background-color: #001251;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 85%;
  margin: auto;
}

body .hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

body .burger-menu {
  margin-top: 75px;
  background-color: #001251;
  width: 100%;
  height: 300px;
  position: absolute;
  border-top: none !important;
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
  max-height: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

body .burger-menu .default-button-secound {
  margin: 20px 0;
}

body .burger-menu a {
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
  max-height: 0px;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  padding: 9px 0;
  background-color: transparent;
  color: transparent;
  font-size: 24px;
  font-weight: 500;
  color: transparent;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1000px) {
  body .burger-menu a {
    font-size: 20px;
  }
}

body .burger-menu .login {
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
  max-height: 0px;
  color: transparent;
  padding: 9px 37px;
  background-color: transparent;
  font-size: 24px;
  font-weight: 500;
  color: transparent;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

@media (max-width: 1000px) {
  body .burger-menu .login {
    font-size: 20px;
  }
}

body .login-menu {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.709);
  position: fixed;
  z-index: 999;
}

body .login-menu .registration-menu {
  width: 600px;
  border-radius: 25px;
  background-color: white;
  background-color: #000C37;
  padding: 70px 0;
}

body .login-menu .registration-menu .registration-wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .registration-menu .registration-wrapper h2 {
  margin-bottom: 126px;
  font-size: 64px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper .switcher {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  background: none;
  border: none;
  opacity: 40%;
}

body .login-menu .registration-menu .registration-wrapper form {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .registration-menu .registration-wrapper form input {
  border-radius: 25px;
  padding: 23px;
  width: 100%;
  border: none;
  background-color: #001251;
  margin-bottom: 25px;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input::placeholder {
  color: #FFFFFF;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form input:focus:-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form input:focus::-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form input:focus::placeholder {
  opacity: 0;
}

body .login-menu .registration-menu .registration-wrapper form button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #CA8125;
  padding: 20px 20px;
  border: none !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .registration-menu .registration-wrapper form button:hover {
  background-color: #86551a;
}

@media (max-width: 1000px) {
  body .login-menu .registration-menu .registration-wrapper form button {
    font-size: auto;
  }
}

body .login-menu .log-menu {
  width: 600px;
  border-radius: 25px;
  background-color: white;
  background-color: #000C37;
  padding: 70px 0;
}

body .login-menu .log-menu .log-wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .log-menu .log-wrapper h2 {
  margin-bottom: 126px;
  font-size: 64px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper .switcher {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  background: none;
  border: none;
  opacity: 40%;
}

body .login-menu .log-menu .log-wrapper form {
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-menu .log-menu .log-wrapper form input {
  border-radius: 25px;
  padding: 23px;
  width: 100%;
  border: none;
  background-color: #001251;
  margin-bottom: 25px;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input::placeholder {
  color: #ffffff;
  opacity: 60%;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form input:focus:-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form input:focus::-ms-input-placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form input:focus::placeholder {
  opacity: 0;
}

body .login-menu .log-menu .log-wrapper form button {
  width: 100%;
  margin-bottom: 10px;
  background-color: #CA8125;
  padding: 20px 20px;
  border: none !important;
  border-radius: 25px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body .login-menu .log-menu .log-wrapper form button:hover {
  background-color: #86551a;
}

body header {
  padding: 5px 0 25px;
  height: 80px;
  background-color: #001251;
}

body header a:hover, body header button:hover {
  background-color: #86551a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body header .logo {
  height: 80%;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .login {
  padding: 9px 37px;
  background-color: #CA8125;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  body header .login {
    font-size: 20px;
  }
}

@media (max-width: 771px) {
  body header .login {
    display: none;
  }
}

body header .mobile-menu-trigger {
  display: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

body header .mobile-menu-trigger:focus {
  background: none;
}

@media (max-width: 771px) {
  body header .mobile-menu-trigger {
    display: block;
  }
}

body header nav .default-button-first {
  margin-right: 58px;
}

body header nav a {
  border-radius: 15px;
  padding: 9px 37px;
  background-color: #CA8125;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body header nav a:hover {
  color: white !important;
}

@media (max-width: 1000px) {
  body header nav a {
    font-size: 20px;
  }
}

@media (max-width: 771px) {
  body header nav a {
    display: none;
  }
}

body main {
  padding: 46px 0 196px;
  background-color: #000C37;
}

body main .proj-info {
  text-align: center;
}

body main .proj-info h1 {
  font-size: 64px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
}

body main .proj-info .flex-wrapper-info {
  background-color: #001251;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  max-width: 1294px;
  border-radius: 10px;
}

body main .proj-info .flex-wrapper-info p {
  line-height: 5vh;
  margin-left: 120px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

@media (max-width: 1100px) {
  body main .proj-info .flex-wrapper-info p {
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 1100px) {
  body main .proj-info .flex-wrapper-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .proj-info .flex-wrapper-info img {
    max-width: 60%;
  }
}

body main .cards {
  padding-top: 135px;
}

body main .cards .row .card-el {
  max-width: 415px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .cards .row .card-el h2 {
  font-size: 36px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  margin: 20px 0px 37px;
}

body main .cards .row .card-el a {
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 17px;
  padding: 9px 52px;
  background-color: #CA8125;
}

body main .cards .row .card-el img {
  border-radius: 10px 10px 0 0;
}

@media (max-width: 600px) {
  body main .cards .row .card-el img {
    width: 90%;
    height: 90%;
  }
}

body main .cards .row img {
  max-width: 415px;
  height: 388px;
}

body footer {
  width: 100%;
  height: 80px;
  background-color: #001251;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cont {
  width: 85%;
  margin: auto;
  font-family: 'Roboto';
}

main {
  background-color: #000c37;
  padding-top: 76px;
  padding-bottom: 113px;
}

.blank-create {
  color: white;
  margin-bottom: 82px;
  font-size: 32px;
}

.nazva {
  color: white;
  font-size: 24px;
  margin-bottom: 18px;
}

.select {
  width: 420px;
  height: 75px;
  background: #001251;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 24px;
  padding: 23px 35px 23px 35px;
}

select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.game {
  display: inline-block;
}

.region {
  display: inline-block;
  margin-left: 244px;
}

.name {
  display: inline-block;
}

.name-p {
  margin-top: 41px;
}

.micro-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #001251;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 110px;
}

.micro-input:checked + .radio {
  border: #001251 solid 10px;
  background-color: white;
}

.yesorno {
  color: white;
  vertical-align: middle;
  margin-right: 20px;
}

.micro {
  display: inline-block;
  margin-left: 244px;
}

.micro-p {
  margin-bottom: 36px;
}

.age {
  margin-top: 38px;
  display: inline-block;
}

.mate-count {
  display: inline-block;
  margin-left: 244px;
}

.pol {
  margin-top: 51px;
  display: inline-block;
  margin-left: 244px;
}

.chanel {
  margin-top: 51px;
  display: inline-block;
}

.aim {
  margin-top: 51px;
}

.skill {
  margin-top: 51px;
}

.create {
  color: white;
  font-size: 24px;
}

.create-button {
  padding: 23px 120px 23px 120px;
  background-color: #CA8125;
  max-width: 416px;
  margin-top: 100px;
  border-radius: 15px;
}

.blank-a {
  text-decoration: none;
}

footer {
  background-color: #001251;
  padding-top: 40px;
  padding-bottom: 40px;
}

.game-region {
  width: 100%;
}

.game {
  width: 40%;
}

.region {
  width: 40%;
}

.name-micro {
  width: 100%;
}

.name {
  width: 40%;
}

.micro {
  width: 40%;
}

.age-mates {
  width: 100%;
}

.age {
  width: 40%;
}

.mate-count {
  width: 40%;
}

.pol-chanel {
  width: 100%;
}

.pol {
  width: 40%;
}

.chanel {
  width: 40%;
}

.container {
  max-width: 85%;
  margin: auto;
}

.select {
  width: 420px;
  height: 75px;
  background: #001251;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 24px;
  padding: 23px 25px 23px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown.open .dropdown__menu {
  display: block;
}

.dropdown {
  position: relative;
  width: 416px;
  /* display: flex; */
  /* flex-direction: column;
    align-items: center; */
}

.dropdown__label {
  padding: 5px 10px;
  /* border-radius: 5px; */
  max-width: 100%;
  cursor: pointer;
  background-color: #001251;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 23px 35px;
  white-space: nowrap;
  border-radius: 25px;
}

.dropdown__menu {
  list-style: none;
  display: none;
  border-radius: 0px 0px 25px 25px;
  border: 1px solid black;
  position: absolute;
  width: 91%;
  top: 75px;
  left: 17px;
  /* padding: 10px 0; */
  background-color: #001251;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  line-height: 28px;
  padding: 23px 35px;
  /* margin-top: -15px; */
}

.dropdown__menu li {
  padding: 5px 23px;
}

.dropdown__menu li:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.dropdown-game {
  z-index: 6;
}

.dropdown-age {
  z-index: 5;
}

.dropdown-chanel {
  z-index: 4;
}

.dropdown-aim {
  z-index: 3;
}

.dropdown-skill {
  z-index: 2;
}

@media (max-width: 1460px) {
  .region {
    margin-left: 140px;
  }
  .micro {
    margin-left: 140px;
  }
  .mate-count {
    margin-left: 140px;
  }
  .pol {
    margin-left: 140px;
  }
}

@media (max-width: 1390px) {
  .yesorno {
    margin-right: 0;
    font-size: 10px;
  }
  .nazva {
    font-size: 16px;
  }
  .select {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }
  .dropdown__label {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    margin-right: 0px;
  }
  .dropdown__menu {
    top: 53px;
    left: 17px;
    width: 55%;
    padding: 10px 15px 10px 15px;
  }
}

@media (max-width: 1110px) {
  .radio {
    margin-right: 50px;
  }
}

@media (max-width: 970px) {
  .dropdown {
    width: 300px;
  }
}

@media (max-width: 900px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .default-button-first {
    max-width: 120px;
    font-size: 20px;
    margin-top: 8px;
  }
  .default-button-secound {
    max-width: 160px;
    font-size: 20px;
    margin-top: 8px;
  }
}

@media (max-width: 860px) {
  .region {
    margin-left: 90px;
  }
  .micro {
    margin-left: 90px;
  }
  .mate-count {
    margin-left: 90px;
  }
  .pol {
    margin-left: 90px;
  }
  .create-button {
    padding: 12px 60px 12px 50px;
    background-color: #CA8125;
    max-width: 260px;
    margin-top: 50px;
    border-radius: 15px;
  }
  .create {
    font-size: 20px;
  }
  main {
    padding-bottom: 60px;
    overflow: hidden;
  }
}

@media (max-width: 760px) {
  .game {
    display: block;
    width: 100%;
  }
  .region {
    display: block;
    margin-left: 0;
    margin-top: 33px;
    width: 100%;
  }
  .name {
    display: block;
    width: 100%;
  }
  .micro {
    display: block;
    margin-left: 0;
    margin-top: 33px;
    width: 100%;
  }
  .age {
    display: block;
    width: 100%;
  }
  .mate-count {
    display: block;
    margin-left: 0;
    margin-top: 33px;
    width: 100%;
  }
  .chanel {
    display: block;
    width: 100%;
  }
  .pol {
    display: block;
    margin-left: 0;
    margin-top: 33px;
    width: 100%;
  }
  .blank-create {
    font-size: 24px;
    margin-bottom: 28px;
    margin-bottom: 33px;
  }
}
/*# sourceMappingURL=style.css.map */