.select{
    width: 420px;
    height: 75px;
    background: #001251;
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 24px;
    padding: 23px 25px 23px;
    
}
*{margin: 0px;padding: 0px;box-sizing: border-box;}


.dropdown.open .dropdown__menu{
    display: block;
}

.dropdown{
    position: relative;
    width: 416px;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */

}

.dropdown__label{
    padding: 5px 10px;
    /* border-radius: 5px; */
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
    background-color: #001251;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 23px 35px;
    white-space: nowrap;
    border-radius: 25px;
}

.dropdown__menu{
    list-style: none;
    display: none;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid black;
    position: absolute;
    width: 91%;
    top: 75px;
    left: 17px;
    /* padding: 10px 0; */
    background-color: #001251;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    line-height: 28px;
    padding: 23px 35px;
    /* margin-top: -15px; */
    
}

.dropdown__menu li{
    padding: 5px 23px;
}

.dropdown__menu li:hover{
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
}